Cloud_Data_Warehouses/2_Implementing_DW_on_AWS/redo/dwh.cfg
dwh.cfg
maitys_aws_dwh.cfg
resource_setup.ipynb
Cloud_Data_Warehouses/2_Implementing_DW_on_AWS/Project_3_Data_Warehouse/Data_Warehouse_Project_Template
spark-tutorial.pem